.sw-cms-el-product-slider {
    width: 100%;

    .sw-cms-el-product-slider__title {
        margin: 20px 0;
    }

    .sw-cms-el-product-slider__content {
        position: relative;

        .sw-cms-el-product-slider__product-holder {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
            gap: 0 32px;
        }
    }

    &.has--navigation {
        .sw-cms-el-product-slider__content {
            display: grid;
            grid-template-columns: 25px 1fr 25px;
            align-items: center;
        }

        .sw-cms-el-product-slider__navigation {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.has--border {
        padding: 25px;
        border: 1px solid #d1d9e0;
        border-radius: 4px;

        .sw-cms-el-product-slider__title {
            margin-top: 0;
        }
    }
}
